.footer-section {
    background-color: #393939;
    padding: 6rem 0 6rem 0;
    color: white;
}

.footer-body {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.footer-body>.first-part>h1 {
    font-size: 44px;
    font-weight: 900;
    color: #E6533C;
}

.footer-body>.first-part>p {
    color: #b5b1b1;
    line-height: 25px;
}

.footer-body>.second-part,
.third-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
}

.footer-body>.second-part>ul,
.third-part>ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.footer-section>hr {
    width: 85%;
    margin: auto;
}

.footer-section>.copy-right {
    text-align: center;
    color: #b5b1b1;
    padding-top: 40px;
}
@media screen and (max-width:576px) {
    .footer-body {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
    }
}